<!DOCTYPE html>
<html lang="">

<head>
  <title>News summary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <div class="wrapper row0">
    <nav id="mainav" class="hoc clear">
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <h1><a href="index.html">NewSummary</a></h1>
      <p></p>
    </header>
  </div>
  <div class="wrapper bgded overlay light" style="background-image:url('images/demo/backgrounds/01.png');">
    <div id="pageintro" class="hoc clear">
      <article>
        <img src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2021/04/1862/1048/Duggar.jpg?ve=1&tl=1" alt="">
        <h1 style="text-decoration: underline">{{title}}</h1>
        <p style="text-transform: capitalize">Summary: {{hru}}</p>
        <footer>
          <ul class="nospace inline pushright">
          </ul>
        </footer>
      </article>
    </div>
  </div>
  <div class="wrapper row2">
    <article class="hoc container cta clear">
    </article>
  </div>
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
    </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Aldwin Rodriguez</a></p>
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

  <script type=text/javascript> $(function() { $('a#test').bind('click', function() { $.getJSON('/business_news',
    function(data) { //do nothing }); return false; }); }); </script> <script>
    function clickAlert() {
    alert("Alert!");
}
</script>

</body>

</html>